h1 {
    background: #006FBF;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
}

.fa-check-double {
    float: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto;

    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li {
    background: white;
    line-height: 40px;
    color: #444;
}

span {
    background: red;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: .2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #006FBF;
    border: 2px solid rgba(0,0,0,0);
}

input:focus {
    background: white;
    border: 3px solid #006FBF;
}

#container {
    box-shadow: 0 0 3px gray;
    width: 360px;
    background: #f7f7f7;
    margin: 100px auto;
}

.completed {
    color: gray;
    text-decoration: line-through;
}